ToolRule/RPT/T022_ds.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema id="T022_ds"
    targetNamespace="http://tempuri.org/T022.xsd"
    elementFormDefault="qualified"
    xmlns="http://tempuri.org/T022.xsd"
    xmlns:mstns="http://tempuri.org/T022.xsd"
    xmlns:xs="http://www.w3.org/2001/XMLSchema"
>
  <xs:element name="TOOLData">
    <xs:complexType>
      <xs:sequence>
        <xs:element name="ToolName" type="xs:string" />
        <xs:element name="ToolType" type="xs:string" />
        <xs:element name="ToolTypeDescr" type="xs:string" />        
      </xs:sequence>
    </xs:complexType>
  </xs:element>
</xs:schema>
